<%- include("templates/header") %>
    <div class="container text-center mt-3">
        <h1 class="display-1 text-danger mt-3">Oh No!</h1>
        <img src="/images/cry-crying.gif" class="img-fluid" alt="404 Image" style="max-width: 300px;">
        <h1 class="display-2 text-danger mt-3">4 0 4</h1>
        <p class="lead">It looks like you're lost, friend!</p>
        <p class="lead">The page you're looking for doesn't exist...<strong>YET!</strong></p>
        <a href="/" class="btn btn-primary btn-lg mt-3 mb-5">GET ME OUT OF HERE!</a>
    </div>
<%- include("templates/footer_after_login") %>
