
<!-- Include header.ejs -->
<%- include ("templates/header") %>

<div class="container mt-5">
    <h1 class="text-center mb-4">About Us</h1>

    <!-- Boxed sections for each team member -->
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <button class="img-btn" data-id="1">
                <img src="./images/Alex.jpg" class="img-fluid mb-3 w-50" alt="Team Member 1">
                </button>
                <p>Alex Choi - I am Alex Choi. I am a team's backend member.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <button class="img-btn" data-id="2">
                    <img src="./images/Alfredo.jpg" class="img-fluid mb-3 w-50 h-auto" alt="Team Member 2">
                </button>
                <p>Alfredo Luzardo - Hi my name is Alfredo, and I am aspiring to become a software engineer</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <button class="img-btn" data-id="3">
                    <img src="./images/Daniil.png" class="img-fluid mb-3 w-50"  alt="Team Member 3">
                </button>
                <p>Daniil Yarygin - Hello I am Daniil, I am mainly responsible for front end programming and UI design</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <button class="img-btn" data-id="4" id="markImage">
                    <img src="./images/Mark.jfif" class="img-fluid mb-3 w-50" alt="Team Member 4">
                </button>
                <p>Mark Pirvulescu - Hello I'm Mark.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <button class="img-btn" data-id="5">
                    <img src="./images/Wayne.png" class="img-fluid mb-3 w-50" alt="Team Member 5">
                </button>
                <p>Wayne Wong - Hello, I'm Wayne and I will be working on front end programming and UI/UX design</p>
            </div>
        </div>
    </div>

    <!-- Lorum Ipsum paragraph -->
    <p></p>
</div>

<script src="easterEgg.js"></script>
<!-- Include footer.ejs -->
<%- include ("templates/footer_after_login") %>

<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-LNSAtfFYg/y4XHVQNISc4V/8e8u/D0tc5Bt7sg6syEBXmW6F7sI0AZpxS+ln6xG" crossorigin="anonymous"></script>

</body>
</html>

