<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="Author" content="blog.sombex.com">
  <title>Arranging Items around a Circle</title>
  <link rel="stylesheet" href="/css/circle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <!-- AUDIO -->
  <audio loop autoplay>
    <source src="/audio/Circus_Theme_Song.mp3" type="audio/mp3">
  </audio>

  <!-- ROTATING IMAGES -->
  <div class="circle-container" style="display:block;">
    <ul class="circle-item">
      <li><img src="/images/Alex.jpg" id="acButton"></li>
      <li><img src="/images/Alfredo.jpg" id="alButton"></li>
      <li><img src="/images/Daniil.png" id="dyButton"></li>
      <li><img src="/images/mark.png" id="mpButton"></li>
      <li><img src="/images/Wayne.png" id="wwButton"></li>
      <li><a href="/"><img src="/images/Logo2_BBY01.png"></a></li>
    </ul>
  </div>

  <!-- Display spinning circles
    This block of code is adapted from here:
    source: https://blog.sombex.com/2017/10/arrange-items-aroud-circle-using-basic.html
  -->
  <script>
    // Spinning Circle
    $(function () {
      var deg = 0;
      var rotate = 1;
      var club_rotate = setInterval(club_rotate, 5);
      $('.circle-item > li').not(".circle-item > *:nth-of-type(6)").mouseenter(function () {
        rotate = 0
      });
      $('.circle-item > li').not(".circle-item > *:nth-of-type(6)").mouseleave(function () {
        rotate = 1
      });

      function club_rotate() {
        if (rotate == 0) {
          return
        }
        deg = get_deg(deg + 1);
        var deg0 = deg;
        var $data = $('.circle-item').children().not(".circle-item > *:nth-of-type(6)");
        var length = 14;
        if ($(window).width() <= 540) {
          length = 14
        }
        $data.each(function () {
          $(this).css("-webkit-transform", "rotate(" + deg0 + "deg) translate(" + length + "em) rotate(-" + deg0 + "deg)").css("transform", "rotate(" + deg0 + "deg) translate(" + length + "em) rotate(-" + deg0 + "deg)");
          deg0 = get_deg(deg0 + 72)
        })
      }

      function get_deg(deg0) {
        if (deg0 > 360)
          return (deg0 - 360);
        else return deg0
      }
    });

    // Each developer has their own sound when hover on easter egg page's face

    // ALEX CHOI BUTTON
    var acSound = new Audio("/audio/223467-f07c9cf3-4f95-409e-bf9b-062956b4d6b3.mp3");
    var acButton = document.getElementById('acButton');
    acButton.addEventListener('click', function () {
      acSound.play();
    });

    // ALFREDO LUZARDO BUTTON
    var alSound = new Audio("/audio/lisan-al-gaib.mp3");
    var alButton = document.getElementById('alButton');
    alButton.addEventListener('click', function () {
      alSound.play();
    });

    // DANIIL YARYGIN BUTTON
    var dySound = new Audio("/audio/whistle_haaa.mp3");
    var dyButton = document.getElementById('dyButton');
    dyButton.addEventListener('click', function () {
      dySound.play();
    });

    // MARK PIRVULESCU BUTTON
    var mpSound = new Audio("/audio/final_60a626b637d6cf006f9cebb9_881985_p9h3WM4.mp3");
    var mpButton = document.getElementById('mpButton');
    mpButton.addEventListener('click', function () {
      mpSound.play();
    });

    // WAYNE WONG BUTTON
    var wwSound = new Audio("/audio/PeonPissed2.ogg");
    var wwButton = document.getElementById('wwButton');
    wwButton.addEventListener('click', function () {
      wwSound.play();
    });
  </script>

</body>

</html>