<%- include ("templates/header") %>
<ul class="list-group">
    <% let i=0; %>
        <% for(i=0; i < users.length; i++) { %>
            <%- include('templates/user', {user: users[i]}) %>
                <% } %>
</ul>
</body>
<%- include ("templates/footer") %>

</html>