<%- include ("templates/header") %>

  <div class="d-flex justify-content-center flex-nowrap">
    <div class="col-10 col-md-4 genericFormDiv">
      <!-- Select Skills Form -->
      <form action="/setTags" method="post">
        <h1 class="h3 mb-3 fw-normal footer-h1">Select Skills</h1>
        <div class="list-group">

          <!-- Math Skill -->
          <label class="list-group-item d-flex gap-2">
            <input name="skill1" class="form-check-input flex-shrink-0" type="checkbox" value="Math">
            <span>
              Math
            </span>
          </label>

          <!-- Sports Skill -->
          <label class="list-group-item d-flex gap-2">
            <input name="skill2" class="form-check-input flex-shrink-0" type="checkbox" value="Sports">
            <span>
              Sports
            </span>
          </label>

          <!-- Physics Skill -->
          <label class="list-group-item d-flex gap-2">
            <input name="skill3" class="form-check-input flex-shrink-0" type="checkbox" value="Physics">
            <span>
              Physics
            </span>
          </label>
          <!-- Computer Technology Skill -->
          <label class="list-group-item d-flex gap-2">
            <input name="skill4" class="form-check-input flex-shrink-0" type="checkbox" value="Computer Technology">
            <span>
              Computer Technology
            </span>
          </label>

          <!-- Social Sciences Skill -->
          <label class="list-group-item d-flex gap-2">
            <input name="skill5" class="form-check-input flex-shrink-0" type="checkbox" value="Social Sciences">
            <span>
              Social Sciences
            </span>
          </label>

          <!-- Biology Skill -->
          <label class="list-group-item d-flex gap-2">
            <input name="skill6" class="form-check-input flex-shrink-0" type="checkbox" value="Biology">
            <span>
              Biology
            </span>
          </label>
        </div>
        <br>

        <!-- Add Skills Button -->
        <button class="btn btn-primary w-100 py-2" type="submit">Add Skills</button>
      </form>
    </div>
  </div>

  <%- include ("templates/footer_before_login") %>