<%- include ("templates/header") %>
<form action="/setTags" method="post">
    <label><input type="checkbox" name="skill1" value="Math">Math</label><br>
    <label><input type="checkbox" name="skill2" value="Sports">Sports</label><br>
    <label><input type="checkbox" name="skill3" value="Physics">Physics</label><br>
    <label><input type="checkbox" name="skill4" value="Computer Technology">Computer Technology</label><br>
    <label><input type="checkbox" name="skill5" value="Social Sciences">Social Sciences</label><br>
    <label><input type="checkbox" name="skill6" value="Biology">Biology</label><br>
    <!-- <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off" name="skill1">
    <label class="btn btn-outline-primary" for="btn-check-outlined">Single toggle</label><br> -->
    <button type="submit">hgfgh</button> 
</form>
<%- include ("templates/footer") %>