.chat-container {
    min-height: calc(70vh - 100px); 
    max-height: calc(70vh - 100px); 
    overflow-y: scroll;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.btn .btn-primary {
    text-align: center;
}

#messageForm {
    display: flex;
}

#messageInput {
    width: 50%;
}