/* Footer Customization */
footer {
    background-color: rgb(9, 34, 62);
    border-top: 5px solid rgb(27, 80, 126);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 100px;
    box-sizing: border-box;
}

.container-footer {
    display: flex;
    align-items: center;
    color: white;
}