#title {
    margin-right: 20pt;
    color: white;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

.navbar-custom {
    background-color:rgb(9, 34, 62);
    background-size: cover;
    position: relative;
    z-index: 1;
    border-bottom: 7px solid rgb(27, 80, 126);
}

.nav-item.logout-form .nav-link.btn-primary {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-collapse {
    text-align: left;
}

.navbar-toggler-icon {
    color: white; 
}

.navbar-brand-hidden {
    display: none;
}

.navbar-brand {
    margin-right: 0;
}

.btn-aboutus {
    background-color: rgb(42, 127, 202);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(21, 93, 156); 
    width: 120px; 
    padding: 10px 15px;
    transition: 0.3s;
    text-align: center;
}

.btn-aboutus:hover {
    scale: 1.05;
    background-color: rgb(42, 127, 202, 0.5);
    color: white;
}

.nav-link.btn-primary {
    background-color: rgb(42, 127, 202);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(21, 93, 156); 
    width: 120px; 
    padding: 10px 15px;
    transition: 0.3s;
    text-align: center;
}

.nav-link.btn-primary:hover {
    scale: 1.05;
    background-color: rgb(42, 127, 202, 0.5);
    color: white;
}

@media (max-width: 768px) {
    .navbar-nav .nav-link {
        text-align: left;
    }
    #title {
        display: none;
    }
    .btn-aboutus {
        margin-left: 5pt;
    }
}