.user-card,
.matched-users-card {
    border-radius: 8px;
    background: rgb(238, 239, 240);
    margin-left: 10%;
    margin-right: 10%;
}

#filterSelect {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

#allUsers {
    margin-bottom: 50pt;
}

.user-card .btn,
.matched-users-card .btn {
    margin-left: 5px;
}

.navigation {
    border-radius: 10px 10px 0 0;
    color: rgb(77, 118, 179);
    border: 1px solid rgb(101, 101, 101);
    padding: 10px 15px;
}

.navigation:hover {
    color: rgb(42, 97, 180);
    color: black;
}

.navigation.active {
    font-weight: bold;
}

.nav-tabs {
    margin-left: 10%; 
    margin-right: 10%;
}


.nav-item {
    margin-right: 15px;
 } 

.dropdown-menu button {
    margin-top: 10px;
}

.new-box {
    position: absolute;
    top: 40%; 
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 20px; 
    z-index: -1; 
}

#notificationImage img {
    width: 30px;
}

#notificationImage {
    transition: 0.3s;
}

#notificationImage:hover {
    scale: 1.2;
}

#filter {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.matched-users-card {
    margin-left: 10%; 
    margin-right: 10%;
}

#notUserButtonDiv {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    justify-content: space-between;
}

#loginBtn, #signupBtn {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #1b81c5;
    color: white;
    padding: 5pt;
    width: 150px;
    border-style: solid;
    border-width: 5px;
    border-color: #1973ae;
    border-radius: 10px;
    font-size: 20pt;
    transition: 0.3s;
}

#loginBtn {
    margin-left: 20pt;
}

#loginBtn:hover {
    background-color: #0965a2;
}

#signupBtn {
    margin-right: 20pt;
}

#signupBtn:hover {
    background-color: #0965a2;
}

#quote {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    margin-top: 30pt;
}

@media only screen and (max-width: 768px) {
    #notUserButtonDiv {
        display: block;
        width: 200px;
    }

    #loginBtn, #signupBtn {
        margin-left: 0;
        margin-right: 0;
    }
}