</div> <!-- Main content container above -->

<div class="container">
  <footer class="d-flex justify-content-evenly flex-nowrap">
    <!-- <footer class="d-flex justify-content-center flex-nowrap position-relative"> -->
    <!-- <div class="col-10 col-md-4"> -->
      
    <!-- <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span> -->
    <div class="footer-left">
      <a href="/">
        <img src="/images/home_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="Home" style="filter: invert(100%);" width="40" height="40">
      </a>
    </div>
    <div class="footer-right">
        <img src="/images/school_24dp_FILL0_wght400_GRAD0_opsz24.png" id="goToMatchedUsersTab" alt="School" style="filter: invert(100%);" width="40" height="40" onmouseover="this.style.cursor='pointer';">
    </div>
      
    <!-- </div> -->
    <!-- </div> -->
  </footer>
</div>

<script src="profile.js"></script>
<!-- Boostrap Library JS CDN  go here -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
</script>

<!-- JavaScript to trigger navigation to matchedUsers tab -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get the footer button
    var goToMatchedUsersTab = document.getElementById("goToMatchedUsersTab");
    
    // Add a click event listener to the footer button
    goToMatchedUsersTab.addEventListener("click", function() {
      // Trigger a click event on the button associated with the matchedUsers tab
      document.getElementById("matchedUsers-tab").click();
    });
  });
</script>
</body>
</html>
