<div class="d-flex justify-content-center flex-nowrap">
  <div class="col-10 col-md-4 genericFormDiv">
    <form action="/resetConfirm" method="post">
      <h1 class="h3 mb-3 fw-normal">Type your email here</h1>
      <div class="form-floating">
        <input name="email" type="email" class="form-control" id="floatingInput" placeholder="Email address">
        <label for="floatingInput">Email address</label>
      </div>
      <br>
      <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
    </form>
  </div>
</div> 