<div class="d-flex justify-content-center flex-nowrap">
    <h1>Type your email here</h1>
    <form action="/resetConfirm" method="post">
        <input name="email" type="email" class="form-control" id="floatingInput" placeholder="Email address">
        <button type="submit">Submit</button>
    </form>
</div>