<div class="d-flex justify-content-center flex-nowrap">
    <h1>Which info did you forget?</h1>
    <form action="/login?type=forgorID" method="get">
        <input type="hidden" name="type" value="forgorID">
        <button type="submit">ID</button>
    </form>
    <form action="/login?type=forgorPW" method="get">
        <input type="hidden" name="type" value="forgorPW">
        <button type="submit">Password</button>
    </form>
    <% console.log(`i'm on forgor`); %>
</div>