<div style="display: flex; justify-content: center; align-items: flex-start; height: 100vh;">
  <div class="col-10 col-md-4 genericFormDiv">
    <form action="/login?type=forgorID" method="get">
      <h1 class="h3 mb-3 fw-normal footer-h1">Which info did you forget?</h1>
      <div class="form-floating">
        <input name="type" type="hidden" class="form-control" value="forgorID">
        <button class="btn btn-primary w-100 py-2" type="submit">ID</button>
      </div>
    </form>
    <br>
    <form action="/login?type=forgorPW" method="get">
      <div class="form-floating">
        <input name="type" type="hidden" class="form-control" value="forgorPW">
        <button class="btn btn-primary w-100 py-2" type="submit">Password</button>
      </div>
    </form>
  </div>
</div>