<li class="d-flex list-group-item justify-content-between align-items-center" style="border-radius: 8px; padding: 20px; margin-bottom: 20px; background: linear-gradient(to bottom, rgb(68, 68, 68), rgb(68, 68, 68)); color: #ffffff;">
    <div style="display: flex; align-items: center;">
        <%= matchedUser.name %>
    </div>
    <div class="ms-auto d-flex">
        <form action="/unmatch" method="post">
            <input type="hidden" name="unmatch" value="<%= matchedUser.email %>">
            <button class="btn btn-success requestBTN">Unmatch</button>
        </form>
        <% var hasReviewed = false; %>
        <% for(let i = 0; i < matchedUsers.length; i++) { %>
            <% let rateList = matchedUsers[i].rate; %>
            <% console.log(`session email`, sessionEmail); %>
            <% for(let j = 0; j < rateList.length; j++) { %>
                <% console.log(`rateList[j].email`, rateList[j].email); %>
                <% if(rateList[j].email == sessionEmail) { %>
                    <% hasReviewed = true; %>
                    <% console.log(hasReviewed); %>
                <% } %>
            <% } %>
        <% } %>
        <% if (!hasReviewed) { %>
            <form action="/rate/<%= matchedUser.email %>" method="get">
                <button type="submit" class="btn btn-success requestBTN">Rate</button>
            </form>
        <% } %>
        <form action="/chat/<%= matchedUser.chatID %>" method="get">
            <button type="submit" class="btn btn-success requestBTN">Chat</button>
          </form>
    </div>
</li>
