/* about.css */

/* Style the container to have a large card with white background */
.about-container {
    /* max-width: 800px; Adjust the max-width as needed */
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px; /* Adjust border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-color: solid grey;
    margin-bottom: 40px;
}
