
/* #filterMenu li > button {
    display: block;
    margin: auto;
    width: 90%;
} */

#filterMenu li > label {
    width: 150pt;
    margin-left: 10pt;
}

#filterMenu li.active {
    background-color: #569fe8;
    font-weight:bold;
    color: white;
}

#filterMenu li:hover, 
#filterMenu li:focus {
    background-color: #f5f5f5;
}

#filterMenu li.active:hover,
#filterMenu li.active:focus {
    background-color: #2b82d9;
    color: white;
}

#filterMenu li {
    padding-top: 3pt;
    padding-bottom: 3pt;
    display: flex;
}

#filterMenu input{
    display: none;
}

#filterSaveButton {
    background-color:rgb(3, 121, 199);
    padding: 5pt;
    border-style: solid;
    border-width: 2pt;
    border-radius: 10px;
    margin: 0;
    border-color: rgb(10, 104, 167);
    width:80%;
    transition: 0.3s;
    color: white;
}

#filterSaveButton:hover {
    scale:1.04;
    background-color:rgb(33, 150, 228);
}

#filterSaveButtonDiv {
    margin-top:10pt;
    text-align: center;
}

#filterMenu {
    overflow: auto;
    min-height: 200pt;
}

#dropdownMenuButton {
    border-style: solid;
    border-width: 2pt;
    padding: 5pt;
    border-radius: 10px;
    border-color: rgb(35, 116, 166);
    background-color: #247fc0;
    color: white;
    transition: 0.3s;
    margin-bottom: 15pt;
}

#dropdownMenuButton:hover {
    border-color: rgb(21, 87, 128);
    background-color: #1a5f91;
}
