/* Footer Customization */
footer {
    background-color: rgb(9, 34, 62);
    /* background-size: cover; */
    border-top: 5px solid rgb(27, 80, 126); /* Added border for a sharp look */
    padding: 10px; /* Reduced padding to fit content within maximum height */
    display: flex;
    justify-content: space-evenly; /* Evenly space the items */
    position: fixed; /* Position the footer */
    left: 0; /* Align to the left */
    bottom: 0; /* Align to the bottom */
    width: 100%; /* Take the full width of the viewport */
    max-height: 100px; /* Set maximum height */
    box-sizing: border-box; /* Include padding and border in total height */
}

.container-footer {
    display: flex;
    align-items: center; /* Vertically center the items */
    color: white; /* Set the text color to white */
}

