/* public/css/custom-styles.css */

/* Dropdown Menu */
.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

/* Navbar Customization */
.navbar-custom {
    background: url('/images/header.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    border-bottom: 5px solid rgb(62, 62, 62); /* Added border for a sharp look */
}

/* Add specific padding for the logout button */
.nav-item.logout-form .nav-link.btn-primary {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-collapse {
    text-align: left; /* Align text to the left */
}

/* Override the default styling of the hamburger menu icon */
.navbar-toggler {
    background-color: transparent; /* Set the background color to transparent */
    border: none; /* Remove any border */
}

/* Style the inner lines of the hamburger menu */
.navbar-toggler-icon {
    color: white; /* Set the color of the icon to white */
}

.navbar-brand-hidden {
    display: none;
}

.btn-aboutus {
    border: 1px solid white;
    background-color: transparent;
    color: white; /* Changed text color to white */
}

.btn-aboutus:hover {
    background-color: rgba(124, 124, 124, 0.5);
    color: white;
}

/* NAVBAR */
.nav-link.btn-primary {
    background-color: rgb(91, 91, 91);
    color: rgb(255, 255, 255);
    border: 1px solid black; /* Add black border to buttons */
    width: auto; /* Ensure buttons take natural width */
    padding: 10px 15px; /* Add padding for better alignment */
    transition: 0.3s;
    margin-bottom: 10px;
}

.nav-link.btn-primary:hover {
    scale: 1.05;
    background-color: rgba(16, 16, 16, 0.5);
    color: white;
}

/* Apply text-align: left to navbar links */
@media (min-width: 768px) {
    .navbar-nav .nav-link {
        text-align: left;
    }
}
