/* Custom CSS for Navigation Buttons */
.navigation {
    color: black; /* Black text color */
    border-radius: 20px; /* Rounded corners */
}

.nav-tabs {
    border-bottom: none; /* Remove border from the nav tabs */
}

.navigation.active {
    background-color: #007bff; /* Blue background for active tab */
    color: white; /* White text color for active tab */
    border: 1px solid #007bff; /* Add border for active tab */
}

.navigation.active:focus,
.navigation.active:hover {
    background-color: #007bff; /* Blue background for hover/focus state */
    color: white; /* White text color for hover/focus state */
    border: 1px solid #007bff; /* Add border for hover/focus state */
}



.dropdown-menu {
    padding: 10px; /* Add padding to the dropdown menu */
}

.dropdown-menu label {
    margin-right: 10px; /* Add right margin to the dropdown menu labels */
    margin-left: 10px; /* Add left margin to the dropdown menu labels */
}

.dropdown-menu button {
    margin-top: 10px; /* Add top margin to the "Save" button */
}

#myTab {
    margin-top: 20px; /* Add margin top to the navigation tab */
}
