/* public/styles.css */
body {
  background: url('/images/main1.jpg') no-repeat center center fixed;
  background-size: cover;
}
  
.box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.fa-bell{
  color: rgb(255, 255, 255);
}