/* public/styles.css */
/* body {
    background-color: rgb(255, 255, 255);
  } */
  
.box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.fa-bell{
  color: rgb(255, 255, 255);
}

#averageRatingSpan, #amountDiv {
  font-weight: bold;
}

.name {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}