body {
  position: relative;
  background-color: #5e5e5f; /* Set background to dark grey */
  background-size: cover;
  margin: 0; /* Remove default margin */
  height: 100%; /* Ensure the background covers the full viewport height */
  color: #757474;
}

.box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative; /* Ensure box content is above the background */
  z-index: 1; /* Ensure box content is above the background */
}

.fa-bell {
  color: rgb(255, 255, 255);
}


/* FOOTER */
.container-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-left > a > img:hover, .footer-right > img:hover, .footer-right > a > img:hover {
  /* background: #ff0404; */
  /* color: red; */
  /* filter: drop-shadow(8px 8px 10px gray); */
  opacity: 0.5;
}


.footer-h1 {
  color: white;
}


/* GENERIC FORM */
.genericFormDiv {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px;
}

.genericFormDiv > form > h1 {
  text-align: center;
}
